@import "tailwindcss/theme"; 

/* -----------------------------------------------------------------------------
XXXXXXXXXXXXXXXXXXXXXXXXXXXXX CSS Module Content XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
----------------------------------------------------------------------------- */

.PixelatedWavePageTransition {
    @apply fixed inset-0 pointer-events-none z-9999 overflow-hidden;

    .panel {
        @apply absolute inset-0 w-full h-full;

        .col {
            @apply w-full h-full;
            
            .pixel {
                @apply bg-[#e6e6e6] flex-1;
                /* Adding a tiny gap helps you SEE that they are pixels */
                outline: 0.5px solid #e6e6e6; 
                min-height: 2px;
                min-width: 2px;
            }
        }
    }
}

